<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workout Workers-Group Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheet/groupprofile.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

<body>
 <section class="hero is-fullheight is-dark bg-image">
    <div class="container">
        <div class="heading">
          <h1>Group Profiles</h1>
        </div>
        <div class="row">
          <div class="card">
            <div class="card-content has-text-centered">
              <h1><a href = "/user">Jane Doe</a></h1>
            </div>
            <div class="card-body">
                <span>Out of Office Steps:</span>
                <h2>100</h2>
                <br>
                <span>Jumping Jacks:</span>
                <h2>30</h2>
                <br>
                <button class="button is-block is-light is-medium">High Five</button>
            </div>
          </div>
          <div class="card">
            <div class="card-content has-text-centered">
              <h1>Erin Brown</h1>
            </div>
            <div class="card-body">
                <span>Out of Office Steps:</span>
                <h2>219</h2>
                <br>
                <span>Crunches:</span>
                <h2>100</h2>
                <br>
                <button class="button is-block is-light is-medium">High Five</button>
            </div>
          </div>
          <div class="card">
            <div class="card-content has-text-centered">
              <h1>John Smith</h1>
            </div>
            <div class="card-body">
                <span>Out of Office Steps:</span>
                <h2>147</h2>
                <br>
                <span>Squats:</span>
                <h2>50</h2>
                <br>
                <button class="button is-block is-light is-medium">High Five</button>
            </div>
          </div>
          <div class="card">
            <div class="card-content has-text-centered">
              <h1>Adam Baker</h1>
            </div>
            <div class="card-body">
                <span>Out of Office Steps:</span>
                <h2>83</h2>
                <br>
                <span>Push-Ups:</span>
                <h2>40</h2>
                <br>
                <button class="button is-block is-light is-medium">High Five</button>
            </div>
          </div>
        </div>
      </div>
 </section>
  <script src="../public/javascript/groupprofile.js"></script>
</body>


</html>