  <section class="hero is-fullheight is-dark bg-image">
    <div class="hero-body">
      <div class="container has-text-centered">
          <h1 class="title1">Workout Workers</h1>
          <br>
          <h2 class="subtitle">
            Skateboard knausgaard 8-bit, tacos brooklyn vinyl beard sartorial vegan blog fam whatever. Hot chicken vape portland, single-origin coffee fam mixtape godard. Pork belly celiac etsy forage ethical aesthetic. Neutra fanny pack photo booth dreamcatcher flannel master cleanse, narwhal whatever mumblecore. Flannel kale chips hexagon sustainable pitchfork twee edison bulb.
          </h2>
      </div>
    </div>
    <div class="container">
          <div class="columns">
            <div class="column left has-text-centered">
              <h1 class="title">Login</h1>
              <hr class="login-hr">
              <form class="login-form">
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input is-dark" type="email" id="email-login" placeholder="Work Email">
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input is-dark" type="password" id="password-login" placeholder="Password">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <button class="button is-block is-dark is-fullwidth is-medium" type="submit">login</button>
              </form>
            </div>
            <span></span>
            <div class="column right has-text-centered">
              <h1 class="title">Sign Up</h1>
              <hr class="login-hr">
              <form class="signup-form">
                <div class="field">
                  <div class="control">
                    <div class="select is-dark">
                      <select class="has-text-grey-dark">
                        <option>Select Employer</option>
                        <option>Facebook</option>
                        <option>Google</option>
                        <option>Amazon</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field">
                    <div class="control">
                       <input class="input is-dark" type="text" id="name-signup" placeholder="Name">
                    </div>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input is-dark" type="email" id="email-signup" placeholder="Work Email">
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input is-dark" type="password" id="password-signup" placeholder="Password">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <button class="button is-block is-dark is-fullwidth is-medium" type="submit">signup</button>
              </form>
               <script src="/javascript/login.js"></script>
            </div>
          </div>
    </div>
  </section>
 