  <section class="hero is-fullheight is-dark bg-image">
    <div class="hero-body">
      <div class="container has-text-centered">
          <h1 class="title1">Workout Workers</h1>
          <br>
          <h2 class="subtitle">
            In today's complex work environment there are plenty of employees who have trouble fitting in physical exercise throughout their hectic week. Therefore, Workout Workers aims to unite employees and motivate them to keep up with their essential physical activity.
          </h2>
      </div>
    </div>
    <div class="container">
          <div class="columns">
            <div class="column left has-text-centered">
              <h1 class="title"><a href="/user">Login</a></h1>
              <hr class="login-hr">
              <form>
                <div class="field">
                  <p class="control has-icons-left">
                    <input id= "email-login" class="input is-dark" type="email" placeholder="Work Email">
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input id= "password-login" class="input is-dark" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <button id= "login-submit" class="button is-block is-dark is-fullwidth is-medium">>Submit</button>
              </form>
            </div>
            <span></span>
            <div class="column right has-text-centered">
              <h1 class="title">Sign Up</h1>
              <hr class="login-hr">
              <form>
                <div class="field">
                  <div class="control">
                    <div class="select is-dark">
                      <select id= "employer-signup" class="has-text-grey-dark">
                        <option>Select Employer</option>
                        <option>Facebook</option>
                        <option>Google</option>
                        <option>Amazon</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field">
                    <div class="control">
                       <input id= "name-signup" class="input is-dark" type="text" placeholder="Name">
                    </div>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input id= "email-signup" class="input is-dark" type="email" placeholder="Work Email">
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input id= "password-signup" class="input is-dark" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <button id= "signup-submit" class="button is-block is-dark is-fullwidth is-medium">Submit</button>
              </form>
            </div>
          </div>
    </div>
  </section>


  <script src="/javascript/login.js"></script>