<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout Workers-Login</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>

 <body>
  <div class="hero is-fullheight is-dark">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-8 is-offset-2">
            <h3 class="title has-text-white">Login</h3>
            <hr class="login-hr">
            <p class="subtitle has-text-white">Please login to view your fitness profile!</p>
        </div>
        <div class="box">
            <div class="box">
              <img src="/fitness.png">
            </div>
            <div class="title has-text-grey is-5">Please enter your work email and password.</div>
            <form>
                <div class="field">
                  <div class="control">
                    <input class="input is-success is-large" type="email" placeholder="Work Email" autofocus="">
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <input class="input is-success is-large" type="password" placeholder="Password">
                  </div>
                </div>
                <label class="checkbox" style="margin: 20px;">
                    <input type="checkbox">
                      Remember me
                </label>
                <button class="button is-block is-success is-large is-fullwidth">Login</button>
            </form>
        </div>
        <p class="has-text-white">
            <a href="">Sign Up</a> &middot;
            <a href="">Forgot Password</a>
        </p>
      </div>
    </div>
  </div>
 </body>
</html>