<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Workout Workers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="../public/stylesheet/homepage.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

<body>
  <section class="hero is-fullheight is-dark bg-image">
    <div class="hero-body">
      <div class="container has-text-centered">
          <h1 class="title1">Workout Workers</h1>
          <br>
          <h2 class="subtitle">
            This app seeks to build comradery by letting employees log their daily steps while having other co-workers encourage their progress by giving virtual high fives. Throughout the day employees can view their profile card alongside others to see how they have done compared to their colleagues. This app provides a dose of healthy competition and team building to meet fitness goals!
          </h2>
      </div>
    </div>
    <div class="container">
          <div class="columns">
            <div class="column left has-text-centered">
              <h1 class="title">Login</h1>
              <hr class="login-hr">
              <form>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input is-dark" type="email" placeholder="Work Email">
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input is-dark" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <button class="button is-block is-dark is-fullwidth is-medium">Submit</button>
              </form>
            </div>
            <span></span>
            <div class="column right has-text-centered">
              <h1 class="title">Sign Up</h1>
              <hr class="login-hr">
              <form>
                <div class="field">
                  <div class="control">
                    <div class="select is-dark">
                      <select class="has-text-grey-dark">
                        <option>Select Employer</option>
                        <option>Facebook</option>
                        <option>Google</option>
                        <option>Amazon</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field">
                    <div class="control">
                       <input class="input is-dark" type="text" placeholder="Name">
                    </div>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input is-dark" type="email" placeholder="Work Email">
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input is-dark" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <button class="button is-block is-dark is-fullwidth is-medium">Submit</button>
              </form>
            </div>
          </div>
    </div>
  </section>
  <script src="../public/javascript/signup.js"></script>
</body>
</html>