<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Workout Workers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="../public/stylesheet/homepage.css">
  </head>

<body>
  <section class="hero is-fullheight is-dark bg-image">
    <div class="hero-body">
      <div class="container has-text-centered">
          <h1 class="title">Workout Workers</h1>
          <br>
          <h2 class="subtitle">
            Skateboard knausgaard 8-bit, tacos brooklyn vinyl beard sartorial vegan blog fam whatever. Hot chicken vape portland, single-origin coffee fam mixtape godard. Pork belly celiac etsy forage ethical aesthetic. Neutra fanny pack photo booth dreamcatcher flannel master cleanse, narwhal whatever mumblecore. Flannel kale chips hexagon sustainable pitchfork twee edison bulb.
          </h2>
      </div>
  </div>
    <div class="container">
      <!-- <div class="columns is-multiline"> -->
        <!-- <div class="column is-8 is-offset-2 register"> -->
          <div class="columns">
            <div class="column left has-text-centered">
              <h1 class="title">Login</h1>
              <hr class="login-hr">
              <form>
                <div class="field">
                    <div class="control">
                       <input class="input is-dark" type="email" placeholder="Work Email">
                    </div>
                </div>
                <div class="field">
                  <div class="control">
                     <input class="input is-dark" type="password" placeholder="Password">
                  </div>
                </div>
                <button class="button is-block is-dark is-fullwidth is-large">Submit</button>
              </form>
            </div>
            <div class="column right has-text-centered">
              <h1 class="title">Sign Up</h1>
              <hr class="login-hr">
              <form>
                <div class="field">
                    <div class="control">
                       <input class="input is-dark" type="text" placeholder="Name">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                       <input class="input is-dark" type="email" placeholder="Work Email">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                       <input class="input is-dark" type="password" placeholder="Password">
                    </div>
                </div>
                <button class="button is-block is-dark is-fullwidth is-large">Submit</button>
              </form>
            </div>
          </div>
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </section>
  <script src="../public/javascript/signup.js"></script>
</body>
</html>